body {
  font-family: 'Montserrat, sans-serif';
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#button-apple-store:hover {
  background-color: black;
}

.display-2 {
  font-weight: bold;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 18px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Store Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  right: 23%;
}

/* Section Features */
#features {
  padding: 3rem;
  position: relative;
  background-color: white;
  z-index: 1;
}

#features h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

#features [class*=fa-] {
  color: #ef8172;
  padding-bottom: 1rem;
  font-size: 4em;
}

#features [class*=fa-]:hover {
  color: #ff4c68;
}

#features p {
  color: #8f8f8f;
  width: 75%;
  margin: auto;
}

.col-lg-4 {
  padding: 4rem;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  color: white;
  background-color: #ef8172;
  padding: 2rem;
}

#testimonials h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  width: 50%;
  margin: auto;
}

#testimonials img {
  border-radius: 50%;
  width: 7%;
  margin-right: 2rem;
  margin-top: 2rem;
}

[class*=carousel-control] {
  padding: 20px 40px 20px 40px;
}

@media (max-width:995px) {
  #testimonials h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1rem;
    width: 70%;
  }

  [class*=carousel-control] {
    padding: 0;
    position: absolute;
    text-align: left;
  }

  #testimonials {
    padding-bottom : 0rem;
  }
}

#press {
  background-color: #ef8172;
  padding: 5rem;
  text-align: center;
}

#press img {
  padding: 1%;
  width: 18%;
}

.carousel-indicators {
  position: absolute;
  bottom: -100px;
}

@media (max-width:995px) {
  #press {
    padding: 2rem;
    text-align: center;
  }
}

/* Pricing */
#pricing {
  padding: auto 100px;
  text-align: center;
  font-family: "Montserrat";
}

#pricing h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
  width: 50%;
  margin: auto;
  padding-bottom: 10px;
  /* line-height: 1.5; */
}

.card-col {
  padding: 25px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-col button.btn {
  margin-top: auto;
}

/* Media Query */
@media (max-width:995px) {
  #title {
    text-align: center;
  }

  .title-image {
    width: 70%;
    position: static;
    transform: rotate(0deg);
    margin: auto;
  }

  #pricing h2 {
    padding: 50px 0 30px 0;
    width: 100%;
  }
}

/* CTA */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 0;
}

#cta h3 {
  font-family: "Montserrat-bold";
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  width: 50%;
  color: white;
  margin: auto;
}

@media (max-width:995px) {
  #cta h3 {
    font-size: 33px;
    width: 100%;
    padding: 10px;
  }
}

#cta .btn {
  margin: 3% 1%;
}

#cta .cta-apple-btn:hover {
  background-color: black;
}

/* Footer */
#footer {
  text-align: center;
  background-color: white;
}

.footer-social-link {
  margin: 1%;
  padding-top: 2%;
  font-size: 1em;
}

#footer p {
  color: grey;
}
