body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Flex', sans-serif;
}

h1{
  font-family: 'Macondo', cursive;
}

.top-container {
  background-color: #B8FFF9;
  padding-top: 100px;
}

.topCloud {
  position: absolute;
  right: 300px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
}
